@{
    ViewBag.Title = "Home Page";
}

@section css {
    @Styles.Render("~/Content/home.css")
}

<div class="col-md-7" style="background-color: blue">
    <br/>
</div>

<div class="col-md-4 col-md-offset-1">
    @if (ViewBag.Money != null)
    {
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Etat du compte actuellement:</div>
                </div>
                <div class="panel-body">
                    <p class="current-money">Votre compte: <b>@ViewBag.Money</b> Euros</p>
                </div>
            </div>
        </div>
    }
</div>