@{
    ViewBag.Title = "Purchases";
}

@section css {
    @Styles.Render("~/Content/home.css")
}




<div class="row">
    <h2>Index</h2>
    @foreach (var purchase in ViewBag.Purchases)
    {
        <h2>Coucou</h2>
    }
</div>