@{
    ViewBag.Title = "Stock";
}
@section css {
    @Styles.Render("~/Content/home.css")
}

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Stock actuel</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Type</th>
                        <th>Quantité restante</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in ViewBag.Products)
                    {
                        <tr>
                            <td style="font-weight: bold;">product.name</td>
                            <td>product.description</td>
                            <td>product.quantité</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Dernières courses</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LBCFUBL_WCF.DBO.Shopping shopping in ViewBag.Shoppings)
                    {
                        <tr>
                            <td style="font-weight: bold;">@shopping.date</td>
                            <td>@(ViewBag.Shoppings_totals.Item[shopping])</td>
                            <td>
                                <button class="btn btn-primary">Voir plus</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
