body {
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}

.background-theme {
    background: #004C94;
}

.title {
    font-size: 65px;
    padding-bottom: 30px;
}

.white {
    color: white;
}

label {
    color: white;
    padding-top: 15px;
    font-size: 15px;
}

.login-btn {
    margin: 20px 0;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(199, 191, 192, 0.99);
}

.login-btn:hover {
    color: white;
    border: 1px solid white;
}

.validation-summary-errors > ul > li {
    color:white;
}