body {
    font-family: 'Muli', sans-serif;
    font-size: 25px;
}

.navbar {
    background: #004C94;
}

.navbar-blocked {
    background: #bf0606;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
ul.nav.navbar-nav > li > a,
ul.nav.navbar-nav > li > a:hover {
    color: white;
}

.panel-primary > .panel-heading {
    background-image: -webkit-linear-gradient(top,#004C94 0,#004C94 100%);
}

.btn-primary {
       background: #004C94;
       color: white;
}

.padded-row {
    padding: 10px 0;
    margin: 5px;
}

.white,
.white:hover {
    color: white
}

a.white {
   cursor: pointer;
}

.stripe {
    text-decoration: line-through;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a {
 background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0,0,0,0) 100%);
 color: white;
}

.nav .open>a, .nav .open>a:focus,
.nav > li > a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a,
.nav .open>a:hover {
    background-color: transparent;
}